:root {
    font-family: Inter, Avenir, Helvetica, Arial, sans-serif;
    font-size: 16px;
    line-height: 24px;
    font-weight: 400;

    color-scheme: light dark;
    color: rgba(255, 255, 255, 0.87);
    background-color: #242424;

    font-synthesis: none;
    text-rendering: optimizeLegibility;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    -webkit-text-size-adjust: 100%;
}

body {
    margin: 0;
    display: flex;
    place-items: center;
    min-width: 320px;
    min-height: 100vh;
}


#app {
    margin: 0 auto;
    width: 100%;
    min-height: 100vh;
    position: relative;
}

a {
    text-decoration: none;
    color: #4fc3f7
}

a:visited {
    color: #8a00c2;
}

a:hover {
    text-decoration: underline;
}

header {
    width: 100%;
    background-color: #000000;
    height: 4em;
    text-align: center;
    left: 0;
    top: 0;
}

main {
    max-width: 40em;
    margin: 0 auto;
    padding-left: 2rem;
    padding-right: 2rem;
}

footer {
    width: 100%;
    background-color: #000000;
    height: 4em;
    text-align: center;
    position: absolute;
    bottom: 0;
    left: 0;
}

h1, h2, h3 {
    line-height: 1.2em;
}
